@font-face {
    font-family: "Skyrim Font";
    src: url("Fonts/MedievalSharp-Regular.ttf") ;
}

body {
    display: flex;
    flex-direction: column; 
    margin: 0;
    
}
h2 {
    margin-bottom: 0;
    
}
.update-msg, h2, .header div {
    font-family: "Skyrim Font";
    
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 60px;
}
.sign {
    font-size: 100px;
    margin-bottom: 40px;
}
.score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: "Skyrim Font";
}

.update-msg{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}


.header div{
    font-weight: bold;
    color: #FDDC5C;
    height: 100px;
    font-size: 32px;
    background-image: linear-gradient(45deg, black,grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(30deg, black,darkgrey);
   height: 900px;
  
}

.buttons {
    gap: 40px;
    display: flex;
   

}



.btn {
    color: #fff; 
    border-radius:10px; 
    top: 50%;
    background-color:#0a0a23;
    border: none;
    width: 150px;
    height: 150px;
    font-size: 60px;
}

.btn:hover {
    transition: 0.4s;
    background-color: darkgrey;
}

.btn:active {
    transition: 0.1s;
    background-color: grey;
}